/* START border-box fix */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
/* END border-box fix */

body {
    background-color: #6E9AF5;
}

div.container {
    width: 80%;
    background-color: #6768F5;
    /* center the div container */
    margin: 40px auto;
}

header, nav, main, aside, footer {
    padding: 20px;
}

header {
    background-color: #F3B5F5;
}
nav {
    background-color: #EBDAF5;}

nav ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
}
nav li {
    display: inline-block;
    background-color: #6768F5;
    width: 200px;
    height: 50px;
    padding: 15px 20px;
    text-align: center;
    margin: 0px 10px;
    border-radius: 120px;
}
nav a {
    text-decoration: none;
    color: #FFF;
}
nav a:hover {
    color: #ee0498;
}


main {
    background-color: #CEBCF5;
    width: 70%;
    float: left;
}
aside {
    background-color: #6768F5;
     width: 30%;
    float: left;
}


footer {
    background-color: #986EF4;
    float: none;
    clear: both;
}


div.historybox {
     width: 80%;
    background-color: #D94594;
    /* center the div container */
    margin: 40px auto;

}

.historybox header {
    background-color:#CE45D9;
      font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
  color:#e5d5e6;
  padding: 40px;
  font-size: 20px
}

.historybox main {
    background-color: #D94594;

}



.historybox main, aside, footer {
    padding: 40px;
      font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.historybox nav {
    padding: 10px; 
      font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.historybox aside {
    float: left;
    width: 30%;
background-color:#D94594;


}

.historybox main {
    float:right;
    width:70%;
    background-color:#CEBCF5;
    border: 5px solid black;
    color:#FFF;
   border-radius: 30px;
  
}

.maintwo {
    background-image: url(dirt\ copy.jpg);
}